@import "tailwindcss";

:root {
    --background: #ffffff;
    --secondary: #e8e8e8;
    --text: #1c1c1c;
    --primary: #484abc;
}

body {
    font-family: var(--font);
    font-style: normal;
    background-color: var(--background);
    color: var(--text);
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

main {
    flex: 1;
}

h1.heading {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.content {
    max-width: 1000px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: white;
    padding: 10px 24px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s ease-out;
    font-weight: 500;
}

.button:hover {
    background-color: transparent;
    color: var(--primary);
}

.button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 10px 24px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s ease-out;
    font-weight: 500;
}

.button-2:hover {
    background-color: var(--primary);
    color: white;
}

.rich-text h1 {
    font-size: 2.25rem;
    font-weight: 500;
}

.rich-text h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

.rich-text h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.rich-text h4 {
    font-size: 1.25rem;
    font-weight: 500;
}

.rich-text h5 {
    font-size: 1.15rem;
    font-weight: 500;
}

.rich-text h6 {
    font-size: 1rem;
    font-weight: 500;
}

.rich-text a {
    color: #0000ee;
}

.rich-text ul {
    list-style: disc;
}

.rich-text ol {
    list-style: decimal;
}

.rich-text hr {
    margin: 1rem 0;
}

.rich-text p {
    margin-bottom: 1rem;
}

.rich-text img {
    margin: 1rem 0;
}

@media screen and (max-width: 48rem) {
    h1.heading {
        font-size: 30px;
    }
}
